@charset "UTF-8";


.color_swatch:before {
    color: #FFF;
    content: "";
    width: 50px;
    height: 50px;
    display: inline-block;
    /*position: relative;
    top: 6px;
    /*margin-right: 5px;*/
    background-size: contain;
    background-position: center;
    margin: 2px;    
    background-repeat: no-repeat;
    background-color: transparent;
    text-transform: none;
}

.students:before {
    background-image: url("../images/students.png");
}
.gradStudent:before {
    background-image: url("../images/gradStudent.png");
}
.faculty:before {
    background-image: url("../images/faculty.png");
}
.alumni:before {
    background-image: url("../images/alumni.png");
}
.selected .alumni:before, .selected .faculty:before, .selected .gradStudent:before, .selected .students:before {
  -webkit-filter: brightness(3);
  filter: brightness(3); 
} 


[class^="icon-"] {
    font-size: 18px;
    position: relative;
    top: 4px
}





.acf-button-group i.fa {
    margin: 10px auto;
}
.acf-button-group .textBtn {
    margin: 10px auto;
    display: block;
}

.red:before {
    background-color: #9e0347;
}

.gray:before {
    background-color: #5a5a59;
}

.light-gray:before {
    background-color: #f5f5f5;
}

.silver:before {
    background-color: #bdc3c7;
}

.green-sea:before {
    background-color: #16a085;
}

.carrot:before {
    background-color: #e67e22;
}