/* ==========================================================================
	Mobile Screen Sizes
	
	Table of Contents
	
	1. Main Containers
	2. Header
	3. Navigation
	4. Footer
	5. Homepage
	6. Slider
	7. People Archive
	8. Person Page
	9. Books
	10. Events
	11. Forms
	12. Typography
	13. Other
	14. Posts & Content Styles
	15. Pagination
   
	========================================================================== */

/*	1. Main Containers
/*--------------------------------------*/

body {
	font-size: 100%;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
.content, header {
	margin: 0 auto;
	float: none;
	width: 100%;
}
.col, #main-content .content {
	width: 95%!important;
	margin: 0 auto;
	float: none;
}
#main-content {
	margin-bottom: 30px;
}
#hero {
	display: none;
}

.page-template-page-statistics {    
    #main-content .content {
        max-width: none;
    }
    .container .stats-container .content-col .stat_col.three_col {
        width: 27%;
    }
}

/*	2. Header
/*--------------------------------------*/

// Hide unneccessary things
.give-back, header .search-form {
	display: none!important;
}

header {
	padding: 10px 0 10px 0;
	
	&.top {
		// For retina, upload image 2x larger and resize here
		.dept-logo {
            width: 100%;
            height: 110px;
			text-align: center;
			
			img {
				width: 95%;
			}
		}
         h1, h2 {
            width: 100%;
             overflow: hidden;
        }
		nav {
			float: none;
		}
	}
	.logos { 
		width: 100%;
		display: block;
		margin: 0;
		text-align: center
	}
}
.breadcrumbs {
	margin-bottom: 20px;
	
	.content {
		width: 95%;
	}
}

/*	3. Navigation
/*--------------------------------------*/

header nav.desktop {
	display: none;
}

/* Secondary Navigaion */
.col.side .content {
	width: 100%;
	margin: 0 auto;
	float: none;
}
.col.side.feed {
	width: 95%!important;
	margin: 0 auto;
}
.col + .col {
	width: 100%!important;
	margin: 0 auto;
	
	nav.page-nav {
		h3 {
			border-bottom: none;
			margin-bottom: 0;
			margin-left: 10px;
		}
		a {
			border-top: 1px solid $border-color;
			padding: 10px;
			display: block;
		}
		a:hover {
			background-color: $bg-light-color;
		}
		li {
			margin: 0;
		}
	}
}
// Mobile menu plugin fix
button#responsive-menu-button {
    min-width: 25px;
    border-radius: 0;
    border: 1px solid;
}
#responsive-menu-container #responsive-menu li.responsive-menu-item a:active,
#responsive-menu-container #responsive-menu li.responsive-menu-item a:focus,
#responsive-menu-container #responsive-menu ul.responsive-menu-submenu li.responsive-menu-item a:active,
#responsive-menu-container #responsive-menu ul.responsive-menu-submenu li.responsive-menu-item a:focus {
	background-color: #347bad;
	color: #ffffff;
	border-color: #ebebeb;
}

@media only screen and (min-width: 320px) and (max-width: 799px) {

    .page-template-page-statistics {    
        .container .stats-container .content-col .stat_col.three_col {
            width: 42.333%;
            min-height: 220px;
        }
    }
}

@media only screen and (min-width: 800px) and (max-width: 960px) {
	// Styling side menu on larger screens
	.single, .archive, .page {
		.breadcrumbs + .content {
			width: 95%;
		}
		.col {
			max-width: 65%;
			float: left;
			margin: 0 15px 0 0;
		}
		#main-content .content {
			max-width: 65%;
			float: left;
			margin: 0 15px;
		}
		.col.side {
			width: 220px!important;
			margin: 0 0 0 20px!important;
			float: right;	
		}
		.col.side.feed {
			width: 220px!important;
			margin: 0 auto;
		}
	}
    .page-template-page-statistics {    
		#main-content .content {
			max-width: none;
		}
    }
	.post-type-archive-tribe_events .col {
		width: 100%!important;
		max-width: 100%;
		margin: 0 auto;
	}
	
	// Make second column look like desktop version
	.col + .col {		
		nav.page-nav {
			h3 {
				padding-bottom: 10px;
				margin: 0 0 20px 0;
				border-bottom: 2px solid $border-color;
			}
			a {
				border-top: none;
				padding: 0;
				display: block;
			}
			a:hover {
				background: none;
			}
		}
	}
}

/*	4. Footer
/*--------------------------------------*/

footer {
	margin-top: 0px;
	
	nav {
		display: none;
		
		.footer-nav {
			display: none;
		}
		.icon {
			margin: 0 3px;
			font-size: 2.1em;
		}
	}
	.mobile-social-nav {
		display: block;
		margin: 10px 0;
		
		.social-links {
			clear: both;
			float: none;
			width: 100%;
			text-align: center;
		}
	}
	.copyright {
		padding-top: 10px;
		width: 95%;
		margin: 0 auto;
		text-align: center;
		
		p {
			width: 100%;
			margin: 0;
			float: none;
		}
		.university-logo {
			float: none;
			margin-top: 50px;
		}
		@media only screen and (max-width: 600px) {
			.street-address, .tel, .fax {
				display: block;
			}
			.value, .locality, .postal-code {
				display: inline;
			}
			.divider {
				display: none;
			}
		}
	}
	.search-form {
		width: 301px;
		margin: 0 auto 20px auto;
		display: block;
		
		.search-btn {
			top: -4px;
			right: 15px;
			
			&:active {
				top: -2px;
			}
		}
	}
	input[type="search"] {
		margin: 0 auto;
		color: $text-color;
		width: 100%;
		max-width: 280px;
		background: white;
		display: block;
	}
}

/*	5. Homepage
/*--------------------------------------*/

.home {
	#hero {
		display: block;
		height: 400px;
		margin: 0 0 40px 0;
		@include vendor-prefix('box-shadow', '0px 5px 5px 0px rgba(0,0,0,.14)');
		
		.content {
			width: 100%!important;
			height: 400px;
			@include vendor-prefix('box-shadow', 'none');
		}
		.hero-description {
			width: 95%;
			padding: 0 0 30px 0;
			left: 0;
			right: 0;
			
			h2 {
				font-size: 2em;
				line-height: 1.1em;
			}
			p {
				font-size: 1em;
			}
		}
	}
    
    /* Profile */
    .profile-list .person-item { 
        .photo {
            width: 100%;
            max-height:none;
        }
        dl {
            float: none;
            clear: both;
        }
    }
    
}
.home .col {
	width: 100%!important;
	float: left;
	margin: 0 auto 30px auto;
	
	ul, ol {
		float: left;
		clear: both;
		width: 100%;
		margin: 0;
	}
	&.news-col, &.events-col {
		li {
			padding: 0;
			margin: 0;
			clear: both;
			list-style: none;
		}
		.item {
			float: none;
			width: 100%;
		}
		.btn {
			margin-left: 0;
			margin-top: -5px;
		}
		img {
			margin-right: 2%;
			width: 15%;
		}
		&.two {
			.item {
				width: auto;
			}
			.btn {
				margin-left: 0;
			}
			.images .item {
				float: left;
				width: 83%;
			}
			.images + .btn {
				margin-left: 17%;
			}
		}
		&.three {
			.images .item {
				float: left;
				width: 83%;
			}
			.images + .btn {
				margin-left: 17%;
			}
		}
		@media only screen and (max-width: 500px) {
			img {
				display: none;
			}
			&.two {
				.images .item {
					float: left;
					width: 100%;
				}
				.images + .btn {
					margin-left: 0;
				}
			}
			&.three {
				.images .item {
					float: left;
					width: 100%;
				}
				.images + .btn {
					margin-left: 0;
				}
			}
		}
	}
	p, span.description {
		padding: 0;
		line-height: 1.5em;
		font-size: 1em;
		font-weight: normal;
		color: $text-color;
		display: block;
	}
	&.events-col {
		li {
			width: 100%;
		}
	}
}
.home .col + .col {
	width: 100%!important;
	margin: 0 auto 30px auto;
	background-color: white;
	padding: 0;

	li {
		padding: 0;
		border: none;
	}
}

@media only screen and (min-width: 320px) and (max-width: 799px) {
	// Customizing homepage on large mobile
	.home .col {
		width: 100%!important;
		
		ul, ol {
			width: 100%!important;
			float: left;
			margin-bottom: 0;
		}
		ol {
			margin-bottom: 5px;
		}
		img {
			display: block;
			float: left;
			clear: left;
			width: 20%;
			height: auto;
		}
		li {
			padding: 0 0 0 0;
			margin: 0 0 15px 0;
			clear: both;
			float: left;
			// check it
			.item {
				float: left;
				width: 75%;
				clear: right;
			}
		}
		& .btn {
			clear: both;
		}
		&.events-col {
			margin-bottom: 30px!important;
		}
		span.description {
			margin-bottom: 0;
		}
	}
}
@media only screen and (min-width: 800px) and (max-width: 960px) {
	// Make homepage columns side by side
	.home {
		.col {
			width: 100%!important;
			max-width: 100%!important;
			float: left;
			margin: 0;
			
			span.description {
				margin-bottom: 20px;
			}
		}
		.col + .col {
			width: 100%!important;
			float: left;
			margin: 30px 0 0 0;
		}
		#main-content .content {
			max-width: 100%!important;
			margin: 0 auto!important;
			float: none!important;
		}
	}
}

/*	6. Slider
/*--------------------------------------*/

.bx-wrapper {
	height: 400px!important;
	width: 100%;
}
#slider {
	margin-top: 0;
	
	.hero-description {
		width: 100% !important;
		padding: 10px 0 30px 20px;
		left: 0;
		right: 0;
		
		h2 {
			font-size: 1.8em;
			line-height: 1.1em;
            width: 540px;
            margin-bottom: 5px;
		}
		p {
			font-size: 1em;
            width: 540px;
		}
		.content {
			width: 100%!important;
		}
	}
}
#slider {
	width: 100%;
		
	li, .bg {
		height: 400px;
	}
}

/* Direction Controls (Next / Prev) */
.bx-wrapper {
	.bx-prev {
		left: 10px;
		background: url(../images/mobile-arrow-left.png) no-repeat;
	}
	.bx-next {
		right: 10px;
		background: url(../images/mobile-arrow-right.png) no-repeat;
	}
	.bx-controls-direction a {
		width: 23px;
		height: 40px;
	}
}

/* Pager */
.bx-pager {
	float: right;
}

@media only screen and (min-width: 320px) and (max-width: 640px) {
    #slider {

        .hero-description {
            background: none;
            width: 95% !important;

            h2 {
                width: 100%;
            }
            p {
                width: 100%;
            }
            .content {
                width: 100%!important;
            }
        }
    }
}

/*	7. People Archive
/*--------------------------------------*/

/* Filters */
.filter, .filter-title {
	display: none;
}
.archive, .page-template-page-staff { 
    .content header {
        text-align: left;
        width: 95%;
        margin: 0 auto;
    }
}
.dropdown-filter {
	display: block;
	width: 95%;
	margin: 20px auto;
	
	select {
		max-width: 100%;
	}
}

/* People List */
.profile-list {
	margin: 20px auto 0 auto;
	padding: 0;
	width: 100%;

	ul {
		margin: 0;
		padding: 0;
	}
}
.profile-list .person-item {
	width: 30.333%;

}

/* Profile */
.profile-list .person-item .photo {

    width: 100%;
    max-height:none;

}
@media only screen and (min-width: 320px) and (max-width: 699px) {
	
	.profile-list {
        ul {
            width: 99%;
        }
        .person-item {    
            width: 97%;
            height: auto;
            padding-bottom: 20px;
        }
	}
}
@media only screen and (min-width: 700px) and (max-width: 799px) {
	// Making people page two column
	.filter, .filter-title {
		display: block;
	}
	.dropdown-filter {
		display: none;
	}
	.archive .content header {
		text-align: center;
		width: 100%;
	}	
	.profile-list .person-item {
		//width: 50%;
	}
}
@media only screen and (min-width: 800px) and (max-width: 960px) {
	// Making People page three column
	.filter, .filter-title {
		display: block;
	}
	.dropdown-filter {
		display: none;
	}
	.archive .content header {
		text-align: center;
		width: 100%;
	}
	.profile-list .person-item {
		width: 30.333%;
		text-align: center;
	}
}

/*	8. Person Page
/*--------------------------------------*/

.single-people {
	.details {
		span {
			display: block;
		}
		span + span {
			margin-left: 0;
		}
		p {
			margin-top: 0px;
		}
	}
	article header {
		text-align: center;
		
		img {
			display: block;
		}
		h1 {
			margin-bottom: 15px;
		}
	}
	.col + .col {
		margin-top: 0;
		width: 95%!important;
		
		img {
			display: none;
		}
		.table-of-contents {
			display: none;
		}
	}
	.photo {
		margin: 0 auto 25px auto;
	}
}
@media only screen and (min-width: 800px) and (max-width: 960px) {
	// Styling right column on People page
	.single-people {
		article header {
			text-align: left;
			
			img {
				display: none;
			}
		}
		.col {
			max-width: 65%;
		}
		#main-content .content {
			max-width: 65%;
			float: left;
			margin: 0 15px;
		}
		.col + .col {
			margin-top: 0;
			width: 220px!important;
			float: right;
			
			img {
				display: block;
				width: 90%;
				height: auto;
			}
			.table-of-contents {
				display: block;
			}
		}
	}
}

/*	9. Books
/*--------------------------------------*/

/* People Page */
.single-people .book-list {
	float: none;
	
	img, .custom-cover {
		float: left;
		margin-right: 15px;
	}
	li {
		float: left;
		width: 100%;
		display: block;
	}
	dl {
		margin-left: 15px;
		float: none;
		clear: none;
		width: auto;
	}
	dt.title {
		font-size: 1em;
	}
	dd.subtitle {
		font-size: .85em;
	}
}

/* Book Page */
.single-books {
	.content header {
		.cover {
			display: block;
			margin: 15px auto;
			width: 190px;
			height: auto;
		}
		.custom-cover.cover {
			width: 160px;
			height: 205px;
		}
		.custom-cover .title {
			font-size: 1.2em;
			line-height: 1em;
			text-align: center;
		}
	}
	.col + .col {
		.cover {
			display: none;
		}
	}
	.author {
		margin: 0 0 15px 0;
	}
}
@media only screen and (max-width: 460px) {
	.post-type-archive-books .book-list ul {
		text-align: center;
	}
}


/*	10. Events
/*--------------------------------------*/

#tribe-events, 
#tribe-events-content, 
#tribe-events-content.tribe-events-month,
.archive.post-type-archive-tribe_events #main-content.col {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
}
@media only screen and (min-width: 800px) and (max-width: 960px) {
	.archive.post-type-archive-tribe_events #main-content.col {
		width: 100%;
		max-width: 95%;
		margin: 0 auto;
	}
}
#tribe-events-pg-template {
	padding: 0;
	margin: 0;
}
.tribe-events-sub-nav {
	margin-top: 15px!important;
}
.tribe-events-last {
	padding-bottom: 0!important;
}
.post-type-archive-tribe_events {
	.breadcrumbs + .content {
		float: left;
		width: 100%;
	}
	&.archive .col {
		max-width: 100%;
		float: none;
	}
	#tribe-events {
		margin-top: 20px!important;
	}
}
.datepicker thead th {
	border-radius: 0!important;
}
#tribe-bar-form {
	padding: 0!important;
}
.tribe-events-schedule {
	margin: 15px 0!important;
	
	p {
		margin: 0;
	}
}
#tribe-events-content .tribe-events-event-meta .tribe-events-meta-group {
	width: 100%;
}
@media only screen and (min-width: 320px) and (max-width: 799px) {
	#tribe-events-content.col, #tribe-events .col.side.feed {
		width: 100%!important;
	}
}
#tribe-events-content .secondary .tribe-events-venue-map, .tribe-events-meta-group-gmap {
	width: 92%!important;
	margin-left: 4%;
	margin-right: 4%;
	margin-bottom: 20px;
	float: none;
}
.tribe-events-venue-map {
	border: none!important;
}
.tribe-events-venue-map {
	padding: 0!important;
}
.single-tribe_events .tribe-events-meta-group + .tribe-events-meta-group + .tribe-events-meta-group-gmap .tribe-events-venue-map,
.tribe-events-meta-group.tribe-events-meta-group-gmap {
	width: 100%!important;
	margin-left: 0!important;
	margin-right: 0!important;
}
@media only screen and (max-width: 770px) {
	.tribe-events-venue-map, .events-meta-group-gmap {
		margin-bottom: 0!important;
	}
}

/* Single events page */
.single-tribe_events {
	
	#tribe-events-content {
		float: left;
	}
}

/*	11. Forms
/*--------------------------------------*/

article form {
	margin-bottom: 40px;
}
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"],
select,
textarea,
.field {
	padding: 0 10px;
	width: 93%;
	max-width: 500px;
}
textarea {
	width: 94%;
}
select {
	width: 100%;
	max-width: 525px;
}

/*	12. Typography
/*--------------------------------------*/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
}
.home .col h3, .col + .col h3 {
	font-size: 1.35em;
}
p {
	clear: both;
}
blockquote {
	padding: 1px 22px 1px 22px;
	font-size: 1.2em;
	margin: 30px 0;
}
a:link {
	-webkit-tap-highlight-color: rgba(0,0,0,0.3);
}

/*	13. Other
/*--------------------------------------*/

.alignleft, .alignright, .aligncenter, .alignnone, .wp-post-image { 
	float: none;
	margin: 0 auto;
	height: auto;
	max-width: 100%;
}
.wp-caption {
	max-width: 100%;

	img {
		max-width: 100%;
		height: auto;
	}
	.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
	}
}
.gallery {
	
	.gallery-item {
		margin: 10px;
		width: 100px;
	}
	.gallery-icon {
		min-height: 120px;
	}
	br {
		display: none;
	}
}
.color-block {
	margin: 1px;
}
.fixclear:after { 
   overflow: auto;
}

/*    C A R E E R   P A N E L  P A G E
/*--------------------------------------*/
/* HCPS CAREER PANEL SERIES */
.single-careers {
    #hero {display: block; height: auto; overflow: hidden;}
    header.top {
        width: 100%;
        margin: 45px auto 10px auto;
    }
    article.careers {
        .search-form {}
        input[type="search"] {
            width: 100%;
            border-radius: 20px;
            font-size: 1.4em;
            padding: 10px 40px 10px 10px;
            height: 40px;
        }
    }
}

@media only screen and (max-width: 960px) {
	.single-careers {
	   .content { width: 95%;}
        .logo { 
            width: 95%;
            margin: 0 auto;
            img { width: 100%} 
        }
        header.top {
            nav.mobile {
                width: 100%;
            }
        }
		.landing {
		
			#hero {
				display: block;
			}
			header.top {
				font-size: .8em;
				
				h1, h2 { 
					width: 90%;
				}
				nav.mobile {
					display: block;
					font-size: 1.3em;
				}
				nav.mobile a {
					color: $text-color;
				}
				nav.mobile ul {
					width: 100%;
					padding: 0;
					margin: 0;
				}
				nav.mobile ul li {
					display: block;
					margin: 0 10px 0 0;
				}
			}
		} 
		.col {
			max-width: 700px!important;
			margin: 0 auto!important;
			float: none!important;
		}
	}
}

/*    GIVING AND PROFILES LIST
/*--------------------------------------*/

.page-template-page-staff .profile-list {}

.page-template-page-giving {
    .giving-list, .giving-list.content, #main-content .content, .give-hero {
        width: 100%;
        max-width: inherit !important;
        min-width: inherit;
    }

}

.tax-profile_cat {
    #main-content.col {
        width: 100%;
        max-width: inherit;
    }
}


.academics-list {
    width: 95%;
    margin: 40px auto;
    .academics-item {
        padding: 0;
        margin: 0 0 25px 0;
        a {
            display: inline;
        }
        .photo {width: 35%; height: auto;}
        dl { 
            width: 58%;
            a {
                display: inline-block;
            }
        }
    }
}

/*    News LIST
/*--------------------------------------*/

.category, .archive .details, .page-template-category-careers, .tax-happenings_cat {
    .details {
        width: 55%;
        float: left;
    }
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
	.category-news, .page-template-category-careers {
        .details {
            width: 100% !important;
        }
    
    }
    .category, .archive .details, .page-template-category-careers, .tax-happenings_cat {
        .blog-thumb, img {
            width: 100% !important;
        }
    }
    
    .academics-list .academics-item {
        .photo {width: 100%; max-height: inherit;}
        dl { 
            clear:both;
            width: 100%;
            float: none;
            margin: 15px 0;
        }
    }
    
}



/*	14. Posts & Content Styles
/*--------------------------------------*/

article header {
	padding: 0;
}
.entry-content {
	table {
		margin-bottom: 1.5em;
	}
	.size-auto,
	.size-full,
	.size-large,
	.size-medium,
	.size-thumbnail {
		max-width: 100%;
		height: auto;
	}
}

/*	15. Pagination
/*--------------------------------------*/

.pagination, .wp-prev-next {
	margin: 1.5em 0;
}
.pagination {
	text-align: center;

	ul {
		display: inline-block;
		white-space: nowrap;
		padding: 0;
		clear: both;
	}
	li {
		padding: 0;
		margin: 0;
		float: left;
		display: inline;
		overflow: hidden;
	}
	a, span {
		margin: 0;
		text-decoration: none;
		padding: 0;
		line-height: 1em;
		font-size: 1em;
		font-weight: normal;
		padding: 0.75em;
		min-width: 1em;
		display: block;
		
		&:hover, &:focus {
			background-color: $secondary;
			color: $white;
		}
	}
	.current{
		cursor: default;
		color: $text-color;
	
		&:hover, &:focus {
			background-color: white;
			color: $text-color;
		}
	}
}
.wp-prev-next {
	.prev-link {
		float: left;
	}
	.next-link {
		float: right;
	}
}