/* ==========================================================================
	Main Styles - Desktop
	
	Table of Contents
	
	1.  Main Containers
	2.  Header
	3.  Navigation
	4.  Footer
	5.  Homepage
	6.  Person Page
	7.  People Archive
	8.  Books
	9.  Articles/Posts
	10. Other
	
	========================================================================== */

/*	1. Main Containers
/*--------------------------------------*/

body {
	background-color: white;
}
#container {
	width: 100%;
	overflow: auto;
	zoom: 1;
}
.content, header {
	width: $site-width;
	margin: 0 auto;
	@extend %clearfix;
}
#hero {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	width: 100%;
	height: 400px;
	float: left;
	clear: both;
	margin: 0 0 13px 0;
}
.col {
	width: 640px;
	float: left;
}
.col + .col {
	width: 280px;
	margin: 10px 0 30px 20px;
}
.page-template-page-full .col {
	width: 100%;
}

/*	2. Header
/*--------------------------------------*/
.single-careers {
    header {
        nav ul {
            text-align: center;
        }
    }
}
header {
	padding: 35px 0 0 0;
	
	&.top {
        background-color: $primary;
        width: 100%;
        //.content { overflow: hidden; }
        h1, h2 { 
			width: 280px;
			display: inline-block;
			margin: 0;
			text-align: center;
            overflow: hidden;
		}
		.dept-logo { 
            width: 280px;
            height: auto;
			display: inline-block;
			margin: 0;
			text-align: center;
            margin-top: -10px;
			
			// For retina, upload image 2x larger and resize here
			img {
				width: 581px;
				height: auto;
			}
		}
		h1.logo-text {
		    font-weight: 600;
		    text-transform: uppercase;
		    margin-top: 15px;
		    font-size: 3.2em;
		    color: $white;
		}
	}
	.logos {
		float: left;
	}
	nav {
		clear: both;
		float: right;
		padding: 30px 0 20px 0;        
        width: 660px;
	}
	nav ul {
		//width: 730px;
        width: 100%;        
        text-align: right;
        ul { text-align: left;}
	}
	.search {
		float: right;
		clear: right;
		margin-top: 30px;
	}
	.give-back {
		width: 130px;
		text-align: center;
		float: right;
		margin-top: 20px;

		span.support {
			font-size: .8em;
			display: block;
		}
	}
    a:link {
        &.university-logo {
            color: $white;
        }
    }
    
	.university-logo {
		//float: left;
		margin-top: 20px;
		
		// For retina, upload image 2x larger and resize here
		width: 119px;
		height: 38px;
        
	}
}
.breadcrumbs {
	//background-color: $secondary;
	width: 100%;
	float: left;
	clear: both;
	color: $secondary-text-color;
	font-size: .8em;
	padding: 8px 0;
	margin-bottom: 40px;
	
	a {
		font-weight: 600;
		color: $link-color;
		text-decoration: underline;
	}
}

/*	3. Navigation
/*--------------------------------------*/

header, footer {
	nav.desktop ul, nav ul {
		padding: 0;
		margin: 0;
		float: left;
	}
	nav.desktop ul li, nav ul li {
		display: inline-block;
		margin: 0 5px 0 0;
	}
}
header nav.desktop ul li {
	position: relative;
}

/* Drop Down */
header nav.desktop {
	ul li ul {
		position: absolute;
		visibility: hidden;
		opacity: 0;
		padding: 0 10px;
		width: 170px;
		top: 20px;
        right: 0;
        text-align: right;
		border-top: 4px solid $primary-dark;
		margin-top: 5px;
		background-color: $primary;
		z-index: 10000;
		@include vendor-prefix('box-shadow', '0px 5px 5px 0 rgba(0,0,0,.14)');
		@include transition(all 0.24s ease-in-out);
	}
	ul li ul li, ul li ul li a { 
		display: block;
		margin: 0;
	}
	ul li ul li a {
		line-height: 1em;
		padding: 6px 0;
	}
	ul li:hover ul, .sub-menu.open {
		display: block;
		opacity: 1;
		visibility: visible;
	}
    
	ul li.menu-item-has-children a {
		&:after {
			font-family: "Font Awesome 5 Free";
			content: "\f0d7";
			color: rgba(white, .6);
			padding-left: 3px;
		}		
	}
	ul li.menu-item-has-children ul.sub-menu a {
		padding-right: 0;
		
		&:after {
			content: none;
		}
	}
	a {
		font-weight: 600;
		text-transform: uppercase;
		font-size: .85em;
	}
	a, a:link {
		color: $white;
		@include transition(all 0.24s ease-in-out);
	}
	a:hover, a:focus, a:active {
		color: #FFFF00;
        text-decoration: underline;
	}
}

/* Side Menu */
.col.side {
	width: 220px;
	margin-left: 80px;

	.content {
		width: 220px;
	}
	li {
		list-style: none;
		margin: 0 0 5px 0;
		line-height: 1.2em;
	}
	ol, ul  {
		margin-bottom: 25px;
	}
	nav.page-nav ul {
		padding: 0;
		margin: 0;
	}
	.widget_recent_entries li {
		margin: 0 0 10px 0;
		padding: 0;
		
		a {
			font-family: $proxima;
			font-size: .9em;
		}
	}
	.btn {
		margin-bottom: 40px;
	}
	.sub-menu { 
		display: none;
	}
	.current_page_item .sub-menu, 
	.current_page_parent .sub-menu {
		display: block;
		margin: 5px 0 0 30px;
	}
	.sub-menu li {
		list-style: disc;
	}	
}
.col-nav {
	width: 220px;

	li {
		list-style: none;
		margin-left: 0;
		line-height: 1.5em;
	}
	ul + h3 {
		margin-top: 40px;
	}
}

/*	4. Footer
/*--------------------------------------*/

footer {
	background-color: $secondary;
	clear: both;
	margin-top: 60px;
	float: left;
	width: 100%;
	padding: 35px 0 40px 0;
	color: $white;
	font-size: 1em;
	line-height: 1.5em;
	
	/* Footer Nav */
	nav {
		a, a:link, a:visited {
			color: $white;
			font-weight: 600;
			text-transform: uppercase;
			font-size: .8em;
		}
		.footer-nav {
			clear: left;
			float: left;
		}
		.social-links {
			clear: right;
			float: right;
		}
		.icon {
			margin: 0 0 0 10px;
			font-size: 1.7em;
		}
		li {
			padding: 0;
		}
	}
	// Hiding and only showing on mobile
	.search-form, .mobile-social-nav {
		display: none;
	}
	.copyright {
		padding-top: 50px;
		font-size: .8em;
		
		.university-logo {
			float: left;
			margin-top: 5px;
			display: block;
			
			img {
				width: 100px;
				height: auto;
			}
		}
		p {
			float: right;
			margin: 0;
			width: 87%;
		}
		.divider {
			margin: 0 5px;
		}
		a, a:link, a:visited {
			color: $white;
			text-transform: none;
			text-decoration: underline;
		}
	}
}

/*	5. Homepage
/*--------------------------------------*/

.home {
	#hero {
		height: $home-hero-height;
		margin: 0 0 40px 0;
		
		.content {
			width: 100%;
			height: $home-hero-height;
			position: relative;
			
			&.text {
				background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
				text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
			}
		}
        
/*	.hero-description {
        color: $text-color!important;
		background: url('../images/arrow_bg.png') no-repeat;
        background-position: 0px center;
		width: 585px;    
        padding: 0px 20px 0px 115px;
		max-height: 160px;
		position: absolute;
		bottom: 20px;
        left: 0px;
        
        h2 { 
            color:#fff; 
            width:460px;
            font-size: 2em;
            font-weight: bold;
            padding: 15px 0px 0 ;
            margin-bottom: 5px;
        }
        p {
            font-size: 14px;
            line-height: 18px;   
            color:#eee;
            width:460px;
        }
	} */
		.hero-description {
			color: $white;
			background: url('../images/arrow_bg.png') no-repeat;
            background-position: 0px center;
            width: 585px;    
            padding: 0px 20px 0px 115px;
            max-height: 160px;
			position: absolute;
            bottom: 20px;
			
			.content {
				width: $site-width;
				position: static;
				height: auto;
				box-shadow: none;
				background: none;
			}
			h2 {				
                width:460px;
                font-size: 2em;
                font-weight: bold;
                padding: 15px 0px 0 ;
                margin-bottom: 5px;
			}
			p {
				font-size: 14px;
                line-height: 18px;   
                color:#eee;
                width:460px;
			}
			.outline {
				margin-top: 35px;
				min-width: 106px;
			}
			.left {
				text-align: left;
				
				p {
					margin: 0;
				}
			}
			.right {
				text-align: right;
				
				p {
					margin: 0;
					float: right;
					clear: both;
				}
				button {
					float: right;
					clear: both;
				}
			}
		}
		.hero-description.middle {
			bottom: 12%;
		}
	}

.profile-col {
    width: 300px;
    ul {
        margin-top: 0;
    }
    a { color: $link-ongray-color;}

    .cat-title {
    font-size: 0.85em;
    text-transform: uppercase;
    display: block;
    line-height: 1.2em;
    a {
        color: $cat-title-color;
        font-weight: normal;                
    }
    a:hover {
        color: $link-color;
        font-weight: normal;
        text-decoration: underline;
    }


}
    .profile-list {
        margin: 0px;
        padding: 0px;
        .person-item {
            display: block;
            float: left;
            padding: 0px;
            width: 100%;
            margin: 0px;
            height: auto;
            text-align: left;
            line-height: 1.3em;
            background: none;
            box-shadow: none;
            -webkit-transition: background-color 0.24s ease-in-out;
            transition: background-color 0.24s ease-in-out;
            
            p{margin: 10px 0px;}
            
            dl { 
                margin: 0px 0px 15px; 
                padding:10px; 
                background: #f7f7f7;
                .name {color: $link-ongray-color;}
                a {text-decoration: underline;}
                
                dd {margin: 0px;}
            
            }
        }
    }
}
    
}
.home .col {
	float: left;
	
	ul, ol {
		margin: 0;
		
		a {
			text-decoration: none;
		}
	}
	li {
		list-style: none;
		margin-left: 0;
		padding-left: 0;
		@extend %clearfix;
	}
	p, span.description {
		padding: 0;
		margin: 0 0 20px 0;
		font-weight: normal;
		color: $text-color;
		display: block;
		font-size: .93em;
		line-height: 1.6em;
	}
	span.description {
		margin-bottom: 10px;
	}
	.categories {
		display: block;
		line-height: 1em;
	}
	&.one {
		width: 220px;
		padding: 0;
	}
	&.two {
		width: 460px;
	}
	&.three {
		width: 700px;
	}
	&.page-col {
		p {
			font-size: 1em;
		}
		&.one p {
			font-size: .93em;
		}
	}
	&.content-col {
		img {
			max-width: 100%;
			height: auto;
		}
	}
	&.news-col, &.events-col {
		li {
			padding: 0;
			clear: both;
		}
		.category a {
			font-size: .75em;
			color: $secondary-text-color;
			text-transform: uppercase;
			font-weight: normal;
			letter-spacing: .05em;
			display: inline-block;
			font-weight: 700;
		}
		img {
			margin: 3px 20px 20px 0;
			float: left;
		}
		&.one {
			.item {
				width: auto;
			}
		}
		&.two {
			.images .item, .categoriesimages .item {
				float: left;
				//width: 330px;
                width: 65%;
			}
			.images + .btn, .categoriesimages + .btn {
				margin-left: 130px;
			}
		}
		&.three {
			.images .item, .categoriesimages .item {
				float: left;
				width: 570px;
			}
			.images + .btn, .categoriesimages + .btn {
				margin-left: 130px;
			}
		}
	}
    &.news-col {
        width: 380px;        
    }
	&.events-col {
		.duration {
			color: $text-color;
			line-height: 1.5em;
			font-size: .8em;
		}
		.duration span {
			display: inline; 
			font-weight: 600;
			padding: 0;
			margin: 0;
		}
		.category {			
			a {
				font-size: .75em;
				color: $secondary-text-color;
				text-transform: uppercase;
				font-weight: normal;
				letter-spacing: .05em;
				display: inline-block;
				font-weight: 700;
			}
			& + .category {
				&:before {
					content: ",";
					margin: 0 5px 0 0;
				}
			}
		}
		.item {
			margin-bottom: 20px;
		}
	}
}
.home .col + .col {
	margin: 0 0 0 20px;
	background-color: white;
	
	li {
		padding: 0;
	}
}

/*	6. Person Page
/*--------------------------------------*/

.single-people {
	.details {
		span {
			display: inline;
		}
		span + span {
			margin-left: 20px;
		}
		p {
			margin-top: 0;
		}
	}
	.col + .col {
		margin-top: 0;
	}
	article header {
		padding: 0;
		
		img {
			display: none;
		}
	}
	.bio {
		border-bottom: 2px solid $border-color;
		margin-bottom: 20px;
	}
	.col-nav ul {
		margin-bottom: 40px;
	}
	.photo {
		width: 280px;
		height: 280px;
		margin-bottom: 10px;
	}
	.circle {
		// To make circle, radius should be at least half the width and height
		border-radius: 140px;
	}
	.rounded {
		// Make radius 1/4 the width and height
		border-radius: 70px;
	}
}
.link, .download {
	.fas {
		font-size: .8em;
		margin-right: 5px;
	}
}

/*	7. People Archive
/*--------------------------------------*/

/* Filters */
.page-template-page-people-listing .main header {
	text-align: center;
	float: left;
	clear: both;
	padding: 0;
}
.filter {
	clear: both;
	float: left;
	margin-bottom: 20px;
	width: 100%;

	ul {
		padding: 0;
	}
	li {
		list-style: none;
		display: inline-block;
		margin: 0 5px;
	}
}
.button-group {
	width: 100%;
	float: left;
	
	button {
		padding-top: 6px;
		padding-bottom: 6px;
		min-width: 124px;
		letter-spacing: 0;
		
		& + button {
			margin-left: 5px;
		}
	}
	button.all {
		min-width: 100px;
	}
}
.dropdown-filter {
	display: none;
}

/* People List */
.people-list {
	margin-top: 40px;
	padding: 0 9px;
	clear: both;

	ul {
		margin: 30px 0;
		padding: 0;
	}
	li {
		list-style: none;
	}
	.person-item {
		display: block;
		float: left;
		padding: 15px 10px;
		margin: 0;
		width: 210px;
		height: 210px;
		text-align: center;
		line-height: 1.3em;
		@include transition(background-color 0.24s ease-in-out);
	
		a {
			display: block;
		}
		&.hover {
			&:active, 
			&:hover, 
			&:focus {
				background-color: $bg-light-color;
			}
			.name {
				color: $link-color;
			}
		}
		.photo {
			border: 7px solid white;
			width: 100px;
			height: 100px;
		}
		.circle {
			// To make circle, radius should be at least half the width and height with border (ie. 100px + 7px border = 107px)
			border-radius: 60px;	
		}
		.rounded {
			// Make radius 1/4 the width and height
			border-radius: 25px;
		}
		dd {
			margin: 0;
			line-height: 1.6em;
		}
		.name {
			color: $text-color;
		}
		.interest {
			font-size: .8em;
			color: $text-color;
		}
		.position {
			color: $secondary-text-color;
		}
		.email, .office, .office-hours, .phone {
			font-size: .8em;
			color: $text-color;
		}
		.email a {
			font-size: 1em;
			display: inline-block;
		}
	}
}

/* Staff */
.people-list .staff {
	li:hover {
		background: none;
	}
	.name {
		color: $text-color;
	}
}

 /* DEANS STAFF */

/* Profile List */
.profile-list {
	margin-top: 40px;
	padding: 0 9px;
	clear: both;

	ul {
		margin: 30px 0;
		padding: 0;
	}
	li {
		list-style: none;
        padding: 0;
	}
}
.profile-list .person-item {
	display: block;
	float: left;
	margin: 15px 10px;
	width: 280px;
	height: 420px;
	text-align: center;
	line-height: 1.3em;
    background: $bg-light-color;
    box-shadow: 0px 0px 4px 1px #ccc;
	@include transition(background-color 0.24s ease-in-out);

	a {
		display: block;
        text-decoration: none;
        color: $link-ongray-color;
        
        .photo {
            @include transition(background-color 0.24s ease-in-out);
            cursor: pointer;
            &:hover { 
                -webkit-filter: grayscale(80%);
                filter: grayscale(80%);
                @include transition(background-color 0.24s ease-in-out);
            }
        }
	}
	&:active, 
	&:hover, 
	&:focus {
		background-color: $bg-light-color;
        
	}
        .cat-title, a > .cat-title {
            font-size: 0.85em;
            text-transform: uppercase;
            display: block;
            line-height: 1.2em;
            margin-bottom: 2px;
            a:link {
                color: $cat-title-color;
                font-weight: normal;                
            }
            a:hover {
                color: $link-color;
                font-weight: normal;
                text-decoration: underline;
            }
        }
    dl {
        margin: 25px 15px 15px;
    }
    p {
        margin: 20px 0px;
        color: $text-color;
    }
	.photo {
        width: 100%;
		max-height: 214px;
	}
	.circle {
		// To make circle, radius should be at least half the width and height with border (ie. 100px + 7px border = 107px)
		border-radius: 55px;	
	}
	.rounded {
		// Make radius 1/4 the width and height
		border-radius: 25px;
	}
	.name {
		//text-transform: capitalize;
		color: $link-color;
		letter-spacing: 1px;
        font-size: 1.5em;
        margin-bottom: 5px;
        font-weight: normal;
        @include transition(background-color 0.24s ease-in-out);
        &:hover { 
            color: $primary;
        }
	}
	.interest {
		font-size: .85em;
		color: $text-color;
		line-height: 1em;
	}
	.position {
		color: $secondary-text-color;
		font-style: italic;
		margin-bottom: 10px;
	}
	.email, .office, .office-hours, .phone {
		font-size: .9em;
		margin: 0;
	}
    .phone:before {
        content: 'Phone: ';
        font-weight: bold;
    }
	.email a {
		font-size: 1em;
		display: inline-block;
	}
    .btn {
        display: inline-block;
        width: auto;
    }
}


.default-img {
background: $ucla-blue;
}


/*	8. Books
/*--------------------------------------*/

/* General Styles */
.cover {
	@include vendor-prefix('box-shadow', '0 0 10px 0 rgba(0,0,0,.14)');
	border: 3px solid $white;
}
.custom-cover {
	background-color: #b4b4b4;
	margin: 0 auto 0 auto;
	
	 .title {
		color: $white;
		font-weight: 600;
		text-align: center;
		display: block;
	}
}
.publisher {
	display: block;
}
.book-list {
	.title {
		font-size: 14px;
		line-height: 14px;
		margin-bottom: 5px;
	}
	dd.publisher {
		font-size: 12px;
		line-height: 12px;
		margin-bottom: 5px;
	}
	dd.author a {
		display: block;
		font-size: .8em;
		line-height: 16px;
	}
}

/* People Page */
.single-people .book-list {
	float: left;
	
	img, .custom-cover {
		float: left;
	}
	.custom-cover {
		width: 50px;
		height: 60px;
		padding: 20px 5px 10px 5px;
		
		.title {
			font-size: .42em;
			line-height: 1em;
		}
	}
	li {
		float: left;
		margin: 0 0 20px 0;
		padding: 0;
		list-style: none;
		display: inline-block;
		width: 320px;
	}
	dl {
		margin-left: 15px;
		float: left;
		clear: none;
		width: 225px;
	}
	dt.title {
		font-size: 14px;
		line-height: 14px;
		margin-bottom: 5px;
	}
	dd {
		margin-bottom: 0;
	}
	dd.publisher {
		font-size: 12px;
		line-height: 12px;
		margin: 10px 0;
	}
	dd.author a {
		display: block;
		font-size: .8em;
		line-height: 16px;
	}
	dd.subtitle {
		font-style: italic;
		line-height: .8em;
	}
}

/* Book Page */
.single-books {
	.publisher {
		display: block;
		font-size: .8em;
		font-style: italic;
	}
	.author {
		margin-top: 20px;
		display: block;
	}
	.author p {
		display: inline;
	}
	.author-name + .author-name {
		&:before {
			content: ",";
			margin: 0 5px 0 -3px;
		}	
	}
	.custom-cover {
		width: 244px;
		height: 313px;
		line-height: 24px;
		padding: 60px 15px 10px 15px;
		
		.title {
			font-size: 24px;
		}
	}
	.content header {
		width: 100%;
		
		.cover {
			display: none;
		}
	}
}

/* Book Archive */
.post-type-archive-books {
	h1 {
		text-align: center;
	}
	.book-list {
		margin-top: 40px;
		clear: both;
		
		ul {
			padding: 0;
		}
		li {
			display: inline-block;
			padding: 0;
			margin: 5px 21px;
			width: 190px;
			height: 280px;
			text-align: center;
			vertical-align: top;
			@extend %clearfix;
		}
		.custom-cover {
			width: 91px;
			height: 127px;
			line-height: 9px;
			padding: 20px 5px 10px 5px;
			margin-bottom: 12px;
			
			.title {
				font-size: 9px;
			}
		}
		dt.title {
			font-size: 1em;
			line-height: 1em;
			margin: 5px 0;
		}
		dd.publisher {
			font-size: .8em;
			line-height: .8em;
			margin-bottom: 5px;
		}
		dd.author a {
			display: block;
			font-size: .8em;
			line-height: 1.14em;
		}
		a {
			text-decoration: none;
		}
	}
}

/*	9. Articles/Posts
/*--------------------------------------*/

.category, .search-results, .archive, .page-template-category-careers, .tax-happenings_cat {
	article {
		padding-bottom: 25px;
        clear: both;
        overflow: auto;
	}
	article + article {
		border-top: 2px solid $border-color;
        padding-top: 25px;
	}
            
    figure.blog-thumb {
                
        float: left;
        margin:0px 15px 0px 0px;

        img { 
            width: 200px;
            height: auto;
        }
    }
    .details-wide {    
        width: 100%;
        float:left;
        h3 {font-size: 1.8em;}
        .publish-date {
            display: none;
        }
        .cat-title {
            font-size: 0.85em;
            text-transform: uppercase;
            display: block;
            line-height: 1.2em;
            a {
                color: $cat-title-color;
                font-weight: normal;                
            }
            a:hover {
                color: $link-color;
                font-weight: normal;
                text-decoration: underline;
            }
            
            
        }
    }
    .details {    
        width: 62%;
        float:left;
        .publish-date {
            display: none;
        }
        .cat-title {
            font-size: 0.85em;
            text-transform: uppercase;
            display: block;
            line-height: 1.2em;
            a {
                color: $cat-title-color;
                font-weight: normal;                
            }
            a:hover {
                color: $link-color;
                font-weight: normal;
                text-decoration: underline;
            }
            
            
        }
        h3 {
            font-size: 1.5em;
            font-weight: normal;
            margin: 0 0 10px 0;
            
        }
        p {            
            line-height: 1.45em;
            margin: 0px 0px 28px 0px;
            margin-bottom: 15px;
        }
    }
}
.publish-date {
	margin-top: 0;
	margin-bottom: 20px;
	display: block;
}

/*	10. Other
/*--------------------------------------*/

.pagination li {
	display: inline-block;
}
.pagination {
	text-align: center;
	margin-top: 40px;
}
.instructors {
	display: block;
	margin-bottom: -20px;
}
figure {
	margin-left: 0;
	margin-right: 0;
}
.content-subtitle {
	font-size: 1.4em;
	font-weight: 500;
	line-height: 1.6em;
	display: block;
}
.notice, .gform_confirmation_wrapper {
	width: 100%;
	margin: 2em 0;
	background: $bg-light-color;
	border-top: 10px solid $primary;
	padding: 10px 0;
}
.notice p, .notice h3 {
	padding: 0 25px;
}
.gform_confirmation_wrapper {
	padding: 10px 0 40px 0;
	
	.gform_confirmation_message {
		padding-left: 25px;
		padding-right: 25px;
	}
}

/* Newsletter */
.home .col:nth-of-type(4) {
    h3 {
        margin: 10px 10px 20px;
    }
    margin-top: 25px;
    background: $bg-light-color !important;
    //width: 21%;
    width: 220px;
    h4 {color: $link-ongray-color;}
    gform_wrapper, ol, ul, .item, p {
        margin: 10px !important;
        width: auto !important;
    }

    input[type="email"] {
        width: 89%;
        background: white;
    }
    input[type="submit"] {
        margin: 0 10px 10px;
    }
    .gform_footer.top_label {
        clear: both;
    }
}




/* Courses */
ul.course-list {
	li {
		list-style: none;
		margin-left: 0;
		padding: 0;
	}
	h3 {
		font-size: 1.75em;
		line-height: 1.2em;
	}
}

/* Tables */
td, th {
	padding: 5px;
} 
th {
	background-color: $primary-light;
}
tr:nth-of-type(odd) {
	background: $bg-light-color;
}
tr:hover td {
	background-color: $bg-dark-color;
}
td {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: $border-color;
}

/* FAQ/Accordion */
h5.topic {
	cursor: pointer;
	font-size: 1.2em;
	padding: 10px 0;
	margin: 0;
	
	button {
		background: none;
		color: $link-color!important;
		padding: 0;
		margin-bottom: auto;
		letter-spacing: 0;
		line-height: 1.3em;
		text-align: left;
		border-radius: 0;
		@include transition(all 0.24s ease-in-out);
	
		&:hover, &:focus {
			background: none;
			color: $link-hover-color!important;
		}
		&:active {
			top: 0;
		}
		.fas {
			margin-right: 10px;
			@include transition(all 0.24s ease-in-out);
		}
		&[aria-expanded=true] .fas {
			transform: rotate(90deg);
		}
	}
}
div.response + h5.faq {
	border-top: 1px solid $border-color;
}
div.response {
	padding-left: 20px;
	
	p {
		margin: 0 0 1.5em 0;
	}
	
	// This is the opened state
	&.animated-expandmore__to_expand {
		display: block;
		overflow: hidden;
		opacity: 1;
		transition: visibility 0s ease, max-height .8s ease, opacity 1s ease ;
		max-height: 100em;
		visibility: visible;
		transition-delay: 0s;
	}
	
	// This is the hidden state
	&[data-hidden=true].animated-expandmore__to_expand {
		display: block;
		max-height: 0;
		opacity: 0;
		visibility: hidden;
		transition-delay: 1s, 0s, 0s;
	}
}

// Accordion style
h5.accordion {
	padding: 10px;
	margin: 0;
	background: $bg-light-color;
	border: 1px solid $border-color;
	@include transition(all 0.24s ease-in-out);
	
	&:hover {
		background: $bg-dark-color;
	}
	button {
		background: none;
		color: $link-color!important;
		padding: 0;
		margin-bottom: auto;
		letter-spacing: 0;
		line-height: 1.3em;
		text-align: left;
		@include transition(all 0.24s ease-in-out);
	
		&:hover, &:focus {
			background: none;
			color: $link-hover-color!important;
		}
		&:active {
			top: 0;
		}
		.fas {
			font-size: .8em;
		}
		&[aria-expanded=true] .fas {
			transform: rotate(135deg);
		}
	}
}
div.response.accordion {
	border: 1px solid $border-color;
	border-top: none;
	padding: 0;
	margin-top: -2px;
	
	& > * {
		margin: 1.5em 20px;
	}
	& + h5.accordion {
		border-top: none;
	}
	&[data-hidden=true] {
		padding: 0;
	}
}

/* Images/Galleries/Fancybox */
article, #tribe-events {    
    img {
        max-width: 100%;
        height: auto;
    }    
}
    
img.alignleft, figure.alignleft { 
	float: left;
	margin: 15px 15px 15px 0;
}
img.alignright, figure.alignright { 
	float: right;
	margin: 15px 0 15px 15px;
}
img.aligncenter, figure.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}
.gallery {
	.gallery-item {
		display: inline-block;
		vertical-align: top
	}
	.gallery-item + .gallery-item {
		margin-left: 10px;
	}
	.gallery-caption {
		max-width: 150px; 
		line-height: 16px; 
		font-size: 12px; 
		font-style: italic;
		text-align: center;
		margin: 0 auto;
	}
	.gallery-icon {
		min-height: 160px;
	}
}
.fancybox-container .fancybox-toolbar {
	top: 60px;
}

/*	Color Palette
/*--------------------------------------*/

.color-block {
	width: 103px;
	height: 103px;
	float: left;
	text-align: center;
	line-height: 7em;
	margin: 0 1px;
}
.light-primary {
	background: $primary-light;
}
.primary {
	background: $primary;
}
.dark-primary {
	background: $primary-dark;
}
.light-secondary {
	background: $secondary-light;
}
.secondary {
	background: $secondary;
}
.dark-secondary {
	background: $secondary-dark;
}
.light {
	color: $white;
}

/*    A C A D E M I C S  A R C H I V E
/*--------------------------------------*/

/* Filters */
.filter {
	clear: both;
	float: left;
	margin: 20px 0;
	width: 100%;

	ul {
		padding: 0;
	}
	li {
		list-style: none;
		display: inline-block;
		margin: 0 5px;
	}
}
.button-group {
	width: 100%;
	float: left;
	
	button {
		margin-right: 5px;
		min-width: 124px;
		letter-spacing: 0px;
		letter-spacing: 0px;
	}
	button.all {
		min-width: 100px;
		margin-right: 10px;
	}
}

/* Academics List */
.academics-list {
	margin-top: 40px;
	padding: 0 9px;
	clear: both;

	ul {
		margin: 30px 0;
		padding: 0;
	}
	li {
		list-style: none;
	}
}
.academics-list .academics-item {
	display: block;
	padding: 15px 10px;
    clear: both;
    overflow: hidden;
	margin: 0px;
	width: 100%;
	text-align: left;
    border-bottom: 1px solid #eee;
	@include transition(background-color 0.24s ease-in-out);
        &:last-of-type { border-bottom: none; }    
    .btn{
		@extend %btn;
        cursor: pointer;
    }

	a {
		display: inline-block;
        cursor: pointer;
        .photo {
            cursor: pointer !important;
            @include transition(background-color 0.24s ease-in-out);
            &:hover { 
                -webkit-filter: grayscale(80%);
                filter: grayscale(80%);
                @include transition(background-color 0.24s ease-in-out);
            }
        }
	}
	&:active, 
	&:hover, 
	&:focus {
		//background-color: $bg-light-color;
	}
    dl {
        margin: 15px 15px 10px 15px;
        clear:right;
        display: block;
        float:right;
        width: 580px;
    }
    p {
        margin: 20px 0px;
        line-height: 1.3em;    
    }
	.photo {
        width: 300px;
		max-height: 214px;
        float: left;
	}
	.circle {
		// To make circle, radius should be at least half the width and height with border (ie. 100px + 7px border = 107px)
		border-radius: 55px;	
	}
	.rounded {
		// Make radius 1/4 the width and height
		border-radius: 25px;
	}
	.name {
		//text-transform: uppercase;
		color: $link-color;
		letter-spacing: 1px;
        font-size: 1.85em;
        font-weight: 500;
	}
    .name, .description {
        a {
            &:hover {
                color: $primary;
            }
        
        }
    }
	.interest {
		font-size: .85em;
		color: $text-color;
		line-height: 1em;
	}
	.position {
		color: $secondary-text-color;
		font-style: italic;
		margin-bottom: 10px;
	}
	.email, .office, .office-hours, .phone {
		font-size: .85em;
		margin: 0;
	}
	.email a {
		font-size: 1em;
		display: inline-block;
	}
    .btn {
        display: inline-block;
        width: auto;
       // cursor: default !important;
    }
    .language .btn {
        display: inline-block;
        width: auto;
        height: auto;
        background: #f1f1f1;
        padding: 2px 10px;
        font-size:12px;
        margin: 0px 3px 6px;
        min-width: 50px;
        line-height: 16px;
        color: $secondary-text-color !important;
        font-weight: bold;
        cursor: default;
        
            a {
                color: $secondary-text-color;
                font-weight: bold;
            }
    }
}

/*    C A R R E E R   P A N E L  P A G E
/*--------------------------------------*/
/* HCPS CAREER PANEL SERIES */
.single-careers {
    #container {overflow:inherit;}
    .col.side h3 {
        margin-bottom: 10px;
    }
    .entry-title {
        margin-top: 0px; 
        line-height: 1.3em;
    }
    h1 img  {
        float: left;
        margin: 11px 20px 0 0;
        width: auto;
        height: 110px;
    }
    section#committee {
        margin-top: 25px;
        border-top: 1px #ddd solid;
        padding-top: 15px;
    }
    .archive { 
        .details .date h3 { margin-bottom: 0px;} 
    }
    article {
        input[type="search"] {
            width: 100%;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 15px;
            font-size: initial;
            padding: 10px 40px 10px 10px;
            background: #f4f4f4;
            font-weight: bold;
            margin-bottom: 50px;
            height: 35px;
        }
        .search-form .search-btn {
            position: absolute;
            padding: 5px;
            right: 5px;
            top: 0px;
            min-width: auto;
            background: none;
            font-size: initial;
            color: #8e8e8e !important;
            -webkit-transition: color 0.24s ease-in-out;
            transition: color 0.24s ease-in-out;
        }
    }
    header.top {
        background: transparent;
        width: $site-width;
        margin: 0 auto;
        h2 {
            line-height: 1em; 
        }
    }
    nav {
        ul li 
        {
            ul.sub-menu {
                width: 100px !important;
                background: #f4f4f4; 
                font-size: .85em; letter-spacing: 0px;
            }
        }
    }
    .landing header.top {
        .content {
            padding-bottom: 56px;
            position: absolute;
            bottom: 0;
            right: 50px;
            margin-left: 96px;
            text-align: right;
        }
      }
    .careers {
        .home {
            .page-col, .events-col {
                width: 220px;
            }
            .youtube-col{
                width: 460px;
                margin: 0 0 0 20px;
                iframe {
                    width: 460px;
                    height: 260px;
                }
            }
            .events-col { 
                .duration {
                    color: rgba(0, 0, 0, 0.87);
                    line-height: 1.1em;
                    font-size: .85em;
                    font-weight: bold;
                }
                .news-item2 {
                    float: right;
                    width: 140px;
                    margin-bottom: 10px;
                }
                p, span.description {
                    padding: 0;
                    margin: 0 0 15px 0;
                    line-height: 1.2em !important;
                    font-size: .9em !important;
                    font-weight: normal;
                    color: rgba(0, 0, 0, 0.87);
                    display: block;
                }
                img {
                    float: left;
                    width: 70px;
                    height: 70px;
                    margin: 0 10px 10px 0;
                }
            }
            .col { 
                p {
                    line-height: 1.35em !important;
                    font-size: 1em;
                } 
                h3 {
                    margin-bottom: 15px;
                }
            }
        }
        .overlay {
           /* background-color: rgba(4, 28, 39, 0.7); */
            float: left;
            clear: both;
            width: 100%; 
        }
        .events {
            section.form {
                margin-top: 20px;
                border-top: 1px #ccc solid;
                padding-top: 20px;
            }
        }
        section.speakers, section.moderator {
            /*border-bottom: 1px #ccc solid; */
            padding-bottom: 20px;       

            &:after { 
               content: "."; 
               visibility: hidden; 
               display: block; 
               height: 0; 
               clear: both;
            }
        }
        
        section.events {
            border-top: 1px #ccc solid;
            padding-top: 20px;
        }
        .speakers, .moderator {
            margin-bottom: 20px;
            clear: both;
            .name h4 {
                font-size: 1.5em;
                margin: 0px;
                padding: 0px;
                display: inline;
            }
            h3 {
                margin-bottom: 20px;
            }
            .bio p:first-of-type { margin-top: 0px;}
            .bio p {
                line-height: 1.4em;
                letter-spacing: 0;
            }            
            .speaker-photo img, .moderator-photo img {
                width: 120px;
            }
        }
    }
    
    #main-content { 
        p {
            line-height: 1.5em;
            &:first-of-type {
                margin-top: 0px; 
            }
        }
        
    }
    .resources { 
        .details-wide .cat-title {margin-bottom: 1.3em;} 
    }
    
    /* MEMBERS LIST */
  .people-list {
      margin: 0 0 40px 0;
      padding: 0;
      clear: both; 
      ul {
        margin: 10px 0;
        padding: 0; 
          li {
            list-style: none; 
          }
      }
      .person-item { 
        display: block;
        float: left;
        padding: 15px 9px;
        margin: 0px;
        width: 110px;
        height: 260px;
        text-align: center;
        line-height: 1.3em;
        -webkit-transition: background-color 0.24s ease-in-out;
        transition: background-color 0.24s ease-in-out;
           a { display: block; }
         // &:nth-child(5n+1) {padding-left: 0px;}
         // &:nth-child(5n) {padding-right: 0px;}
      }
      .photo {
          border: none;
          width: 110px;
          height: 110px; }
      .circle { border-radius: 55px; }
      .rounded { border-radius: 25px; }
      .name {
          text-transform: uppercase;
          color: #111; 
      }
      
      .interest, .employer {
          font-size: .9em;
          color: rgba(0, 0, 0, 0.87);
          line-height: 1.2em; 
      }
      .position {
          color: rgba(0, 0, 0, 0.53);
          font-style: italic;
          margin-bottom: 10px;
          font-size: .85em;
          line-height: 1.2em
      }
      .email, .office, .office-hours, .phone {
          font-size: .85em;
          margin: 0;
          a {
              font-size: 1em;
              display: inline-block; 
          }
      }
  }

}
/*  CAREER ARCHIVES */
.tax-careers_cat {
    
}
/* */
.single-careers, .tax-careers_cat {
    #container {
        overflow: initial;
    }
    .site-link {
        background: #041c27 url("../images/thin-arrow-left.png") no-repeat 20px center;
        display: inline-block;
        padding: 10px 25px 10px 45px;
        color: white;
        position: absolute;
        z-index: 10000;
    }
    .breadcrumbs {
        margin-bottom: 20px;
        position: relative;
        z-index: 1000;
    }
    #hero {
        height: 325px;
        margin-bottom: 0;
        background-position: top center;
    }
    
    
    
    header.top {
        height: 325px;
        position: relative;
        text-align: center;
        background-color: transparent;
        h1, h2 {
          text-align: right; 
        }
        nav { 
            padding-top: 10px;
            margin: 0 auto;
            &.desktop, &.desktop ul {
              width: 940px;
              float: none; 
            }
            &.desktop {
                a {
                    font-size: 1em; 
                }
                ul { text-align: center;}
                ul li {
                    margin: 0 25px 0 0; 
                }
            }
            &.mobile{
                display: none; 
            }
        
        }
        .current_page_item a {
            border-bottom: 2px solid #041c27; 
        }
        
    }
    
    
  .landing header.top
    {
        h1 {
            font-size: 4em;
            line-height: 1em;
            font-weight: 900;
            width: auto;
            display: block;
            margin: 0 auto; 
        }
        nav.desktop a {
            color: black; 
        }
        h1.large {
            font-size: 7em; }
        h1.medium {
            font-size: 5em; }
        h1.small {
            font-size: 3em; }
        .subtitle {
            font-size: .3em;
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 10px; }
        .details {
            font-size: 1.5em;
            margin: 30px 0 60px 0;
            border-top: 1px solid white; 
             p {
                margin: 1em 0;
             }
             a {
               text-decoration: underline; }
            }
         a.btn {
            font-size: 1.5em;
            text-transform: uppercase;
            border: 2px solid white;
            padding: 10px 45px;
            margin: 0 0 60px 0;
            border-radius: 0;
            background: none; 
            &:hover, .single-careers &:focus { background: $primary; }
         }
      }
    
    .not-landing {
        header.top {
            h2 {
                font-size: 3em;
                font-weight: 900;
                display: block;
                margin: 20px auto 0 auto; 
            }
            nav.desktop a, .content a {
                color: #041c27; 
            }
        }
        #hero {
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 600px;
            float: left;
            clear: both;
            margin: 0;
            -webkit-box-shadow: 0px 5px 5px 0 rgba(0,0,0,.14);
            -moz-box-shadow: 0px 5px 5px 0 rgba(0,0,0,.14);
            box-shadow: 0px 5px 5px 0 rgba(0,0,0,.14); 
        }
    }
}


/*    G I V I N G   P A G E
/*--------------------------------------*/

/* Filters */
.tax-giving .main header {
	text-align: center;
}
.give-hero {
    background: #127cba;
    min-width: 940px;
    min-height: 300px;
    overflow: hidden;
    margin-bottom: -21px;
    #hero {
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 318px;
        float:none;
        clear: both;
        margin: 0 0 13px 0;
        @include vendor-prefix('box-shadow', '0px 5px 5px 0px rgba(0,0,0,.14)');
    }
}
.give_info {
    text-align: center;
    font-size: 18px;
    color: #fff;
    
    h2 {
        color: #fff;
        text-transform: uppercase;
        font-size: 36px;
        margin-top: 60px;
    }
    .content {
        width: 640px;
        margin: 30px auto;
        overflow: hidden;
    }
}
.dean_msg {
    //float: right;
   // width:50%;
    //min-width: 400px;
    min-height: 430px;
    background-color: #0a4b70;
    .details {padding:6% 0px 2% 0px; }
    
    .photo { float: left;}
    .content{ float: none;
    background: url("../images/arrow_givebg.png") no-repeat;
    background-position: 0px center;
    width: 650px;
    padding: 0px 20px 0px 115px;
    min-height: 430px;
    position: absolute;
        color: #eee;
   //bottom: 20px;
    left: 0px;
    h2 {color:#ffe400; font-size: 1.5em; width: 540px; }
        h3{color:#fff; width: 540px;}
    p{width:540px; }
    } 
}
h1.giving-title {
    text-align: center;
    background: #003357;
    padding: 0.1em;
    color: #fff;
    margin: 0px;
    .arrow-down {
        width: 0; 
        height: 0; 
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;

        border-top: 15px solid #003357;
        position: relative;
        bottom: -19px;
        left: 50%;
        margin-left: -0.5em;
        //right: 50%;
    }
}
h2.giving-title {
    text-align: center;
    background: #7a7577;
    padding: 0.3em;
    margin: 0;
    color: #fff;
    .arrow-down {
        width: 0; 
        height: 0; 
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;

        border-top: 15px solid #7a7577;
        position: relative;
        bottom: -25px;
        left: 50%;
        margin-left: -0.5em;
        //right: 50%;
    }
}
/* giving List */
.giving-list {
	margin-top: 40px;
	padding: 10% 9px;
	clear: both;
    overflow: hidden;

	ul {
		margin: 30px 0;
		padding: 0;
	}
	li {
		list-style: none;
        padding: 0;
	}
}
.giving-list .person-item {
	display: block;
	float: left;
	margin: 15px 10px;
	width: 280px;
	height: 290px;
	text-align: center;
	line-height: 1.3em;
    background: $bg-light-color;
    box-shadow: 0px 0px 4px 1px #ccc;
	@include transition(background-color 0.24s ease-in-out);

	a {
		display: block;
        color: $link-ongray-color;
        .photo {
            width: 100%;
            max-height: 214px;
            @include transition(background-color 0.24s ease-in-out);
            cursor: pointer;
            &:hover { 
                -webkit-filter: grayscale(80%);
                filter: grayscale(80%);
                @include transition(background-color 0.24s ease-in-out);
            }
        }
	}
	&:active, 
	&:hover, 
	&:focus {
		background-color: $bg-light-color;
	}
    dl {
        margin: 15px 15px 10px 15px;
    }
    p {
        margin: 20px 0px;
    }
	.photo {
        width: 100%;
		max-height: 214px;
	}
	.circle {
		// To make circle, radius should be at least half the width and height with border (ie. 100px + 7px border = 107px)
		border-radius: 55px;	
	}
	.rounded {
		// Make radius 1/4 the width and height
		border-radius: 25px;
	}
	.name {
		text-transform: normal;
		color: $link-color;
		letter-spacing: 0px;
        font-size: 17px;
        font-weight: normal;
	}
	.interest {
		font-size: .85em;
		color: $text-color;
		line-height: 1em;
	}
	.position {
		color: $secondary-text-color;
		font-style: italic;
		margin-bottom: 10px;
	}
	.email, .office, .office-hours, .phone {
		font-size: .85em;
		margin: 0;
	}
	.email a {
		font-size: 1em;
		display: inline-block;
	}
    .btn {
        display: inline-block;
        width: auto;
    }
}

//    STATS
//--------------------------------------*/
.page-template-page-statistics {
    .container {
        text-align: center;
        section { 
            font-size: 1.4em;
            line-height: 1.4em;
            margin-bottom: 50px;
            h2 {
                font-size: 2.25em;
                line-height: 1.2em;
                font-weight: 500;
                color: $primary-dark;
            }
        }
        .stats-container {
            .content-col { 
                width: 100% !important;
                overflow: hidden;
                h3 {
                    text-align: center;
                    font-size: 40px;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: $secondary-dark;

                }
                .stat_col {
                    float: left;
                    text-align: center;
                    border-right: 1px dotted lightblue;
                    padding: 10px 20px;
                    margin: 10px 0;
                    h1 { font-weight: 900; font-size: 5em; margin: 0px; color: $secondary-dark;}
                    h5 {margin-top: 0px; color: $primary; }
                    p {font-size: 1.15em;}
                    &.one_col {
                        width: 50%;
                        margin: 10px auto;
                        float: none;
                    }
                    &.two_col {
                        width: 45.5%;
                        min-height: 310px;
                    }
                    &.three_col {
                        width: 28.9%;
                        min-height: 220px;
                        &.brief {                            
                            min-height: 385px;
                        }
                    }
                }

                .stat_col:last-of-type {
                    border-right:none; 
                }
            }
            .content-col.featured { background: $bg-light-color; padding-bottom: 20px;}
        }
    }
}


//    VIDEOS PAGE
//--------------------------------------*/
.video-list {
    .videos {
        h3 {
            font-size: 2em;
            font-weight: normal;
        }
        .video-items {
            width: 100%;
            border-bottom: 1px dotted #ccc;
            padding-bottom: 20px;
            &:last-of-type {                
                border-bottom: none;
                padding-bottom: 0px;
            }
            li.items {                
                &:nth-child(odd){
                    padding-right: 5px;
                }
                &:nth-child(even){
                    padding-left: 5px;
                }
                iframe {
                    width: 100%;
                    height: fit-content;
                    border: 0;
                }
                margin: 0;
                padding: 0;
                list-style: none;
                float: left;
                width: 49%;
                margin: 0 0 20px 0;
                h4 {
                    margin: 0;
                    font-weight: 700;
                    font-size: 1.2em;
                    color: $secondary;
                    width: 300px;
                    }
                
                    &::after {
                            content: "";
                            clear: both;
                            display: table;
                        }
                }
            &::after {
                    content: "";
                    clear: both;
                    display: table;
                }
            
            }
        }
    }
.page-template-page-commencement, .page-template-page-ceremony {
    
        h3 {
            font-size: 2em;
            font-weight: normal;
        }
    article {     
        margin-top: 40px;
        border-top: 1px dotted #ccc;
        &:first-of-type {
            margin-top: 0px;
            border-top: none;
        }
    }
    .gallery {  
        margin-top: 40px;
        border-top: 1px dotted #ccc;
        .gallery-item {
            display: inline-block;
            vertical-align: initial;
        }
        .gallery-item + .gallery-item {
            margin-left: 9px;
        }
    }
}
